In [1]:
from pysmartprice.base import SmartPrice

In [2]:
smartprice = SmartPrice()

In [3]:
results = smartprice.search('LAPTOPS')

In [4]:
import pandas as pd

In [5]:
ls = []
for i in range(len(results)):
    ls.append(results[i].dumptojson)

In [6]:
df=pd.DataFrame(ls)

In [7]:
print(df)

                                                    img  \
0     https://assets.mspimages.in/logos/mysmartprice...
1     https://assets.mspimages.in/logos/mysmartprice...
2     https://assets.mspimages.in/logos/mysmartprice...
3     https://assets.mspimages.in/logos/mysmartprice...
4     https://assets.mspimages.in/logos/mysmartprice...
...                                                 ...
7903  https://assets.mspimages.in/logos/mysmartprice...
7904  https://assets.mspimages.in/logos/mysmartprice...
7905  https://assets.mspimages.in/logos/mysmartprice...
7906  https://assets.mspimages.in/logos/mysmartprice...
7907  https://assets.mspimages.in/logos/mysmartprice...

                                                  title  \
0     \n                    Apple MacBook Air M1 MGN...
1     \n                    Apple MacBook Air M1 MGN...
2     \n                    HP 14s-dy2508TU (6X360PA...
3     \n                    Apple MacBook Air MQD32H...
4     \n                    Apple MacBook Air M1 MGN...
...                                                 ...
7903  \n                    Crucial (C27201504-23) D...
7904  \n                    Crucial (C27201504-15)DD...
7905  \n                    Plextor M6e (PX-AG128M6e...
7906  \n                    HP Pavilion 500-082in La...
7907  \n                    OWC Aura Pro (OWCSSDAP11...

                                                    url best_price product_id
0     https://www.mysmartprice.com/computer/apple-ma...     71,990
1     https://www.mysmartprice.com/computer/apple-ma...     99,990
2     https://www.mysmartprice.com/computer/hp-14s-d...     37,499
3     https://www.mysmartprice.com/computer/apple-ma...     67,990
4     https://www.mysmartprice.com/computer/apple-ma...     80,990
...                                                 ...        ...        ...
7903  https://www.mysmartprice.com/computer/crucial-...      1,400
7904  https://www.mysmartprice.com/computer/crucial-...        600
7905  https://www.mysmartprice.com/computer/plextor-...         NA
7906  https://www.mysmartprice.com/computer/hp-pavil...         NA
7907  https://www.mysmartprice.com/computer/aura-pro...         NA

[7908 rows x 5 columns]

In [8]:
import openpyxl

In [9]:
# Specify the file name and sheet name
file_name = 'output.xlsx'
sheet_name = 'Sheet1'
# Write the DataFrame to an Excel file
df.to_excel(file_name, sheet_name=sheet_name, index=False)
print(f"DataFrame has been written to {file_name} in sheet {sheet_name}")

DataFrame has been written to output.xlsx in sheet Sheet1

In [10]:
dataset = pd.read_csv('./out.csv')

In [11]:
dataset.head()

,img,title,url,best_price,product_id
0,https://assets.mspimages.in/logos/mysmartprice...,\n Apple MacBook Air M1 MGN...,https://www.mysmartprice.com/computer/apple-ma...,"71,990",NaN
1,https://assets.mspimages.in/logos/mysmartprice...,\n Apple MacBook Air M1 MGN...,https://www.mysmartprice.com/computer/apple-ma...,"99,990",NaN
2,https://assets.mspimages.in/logos/mysmartprice...,\n Apple MacBook Air MQD32H...,https://www.mysmartprice.com/computer/apple-ma...,"67,990",NaN
3,https://assets.mspimages.in/logos/mysmartprice...,\n Apple MacBook Air M1 MGN...,https://www.mysmartprice.com/computer/apple-ma...,"80,990",NaN
4,https://assets.mspimages.in/logos/mysmartprice...,\n Apple MacBook Air M1 MGN...,https://www.mysmartprice.com/computer/apple-ma...,"72,590",NaN

In [12]:
dataset.isnull().sum()

img              0
title            0
url              0
best_price      50
product_id    7882
dtype: int64

In [13]:
dataset.shape

(7882, 5)

In [14]:
dataset = dataset.drop(columns=['product_id'])
dataset.head()

,img,title,url,best_price
0,https://assets.mspimages.in/logos/mysmartprice...,\n Apple MacBook Air M1 MGN...,https://www.mysmartprice.com/computer/apple-ma...,"71,990"
1,https://assets.mspimages.in/logos/mysmartprice...,\n Apple MacBook Air M1 MGN...,https://www.mysmartprice.com/computer/apple-ma...,"99,990"
2,https://assets.mspimages.in/logos/mysmartprice...,\n Apple MacBook Air MQD32H...,https://www.mysmartprice.com/computer/apple-ma...,"67,990"
3,https://assets.mspimages.in/logos/mysmartprice...,\n Apple MacBook Air M1 MGN...,https://www.mysmartprice.com/computer/apple-ma...,"80,990"
4,https://assets.mspimages.in/logos/mysmartprice...,\n Apple MacBook Air M1 MGN...,https://www.mysmartprice.com/computer/apple-ma...,"72,590"

In [15]:
dataset['title'] = dataset['title'].str.replace('\n', '')
dataset.head()

,img,title,url,best_price
0,https://assets.mspimages.in/logos/mysmartprice...,Apple MacBook Air M1 MGND3...,https://www.mysmartprice.com/computer/apple-ma...,"71,990"
1,https://assets.mspimages.in/logos/mysmartprice...,Apple MacBook Air M1 MGNA3...,https://www.mysmartprice.com/computer/apple-ma...,"99,990"
2,https://assets.mspimages.in/logos/mysmartprice...,Apple MacBook Air MQD32HN/...,https://www.mysmartprice.com/computer/apple-ma...,"67,990"
3,https://assets.mspimages.in/logos/mysmartprice...,Apple MacBook Air M1 MGN93...,https://www.mysmartprice.com/computer/apple-ma...,"80,990"
4,https://assets.mspimages.in/logos/mysmartprice...,Apple MacBook Air M1 MGN63...,https://www.mysmartprice.com/computer/apple-ma...,"72,590"

In [16]:
dataset['title']

0                           Apple MacBook Air M1 MGND3...
1                           Apple MacBook Air M1 MGNA3...
2                           Apple MacBook Air MQD32HN/...
3                           Apple MacBook Air M1 MGN93...
4                           Apple MacBook Air M1 MGN63...
                              ...
7877                        Crucial (C27201504-23) DDR...
7878                        Crucial (C27201504-15)DDR ...
7879                        Plextor M6e (PX-AG128M6e) ...
7880                        HP Pavilion 500-082in Lapt...
7881                        OWC Aura Pro (OWCSSDAP116G...
Name: title, Length: 7882, dtype: object

In [17]:
dataset['Company'] = dataset['title'].apply(lambda x:x.split()[0])
dataset.head()

,img,title,url,best_price,Company
0,https://assets.mspimages.in/logos/mysmartprice...,Apple MacBook Air M1 MGND3...,https://www.mysmartprice.com/computer/apple-ma...,"71,990",Apple
1,https://assets.mspimages.in/logos/mysmartprice...,Apple MacBook Air M1 MGNA3...,https://www.mysmartprice.com/computer/apple-ma...,"99,990",Apple
2,https://assets.mspimages.in/logos/mysmartprice...,Apple MacBook Air MQD32HN/...,https://www.mysmartprice.com/computer/apple-ma...,"67,990",Apple
3,https://assets.mspimages.in/logos/mysmartprice...,Apple MacBook Air M1 MGN93...,https://www.mysmartprice.com/computer/apple-ma...,"80,990",Apple
4,https://assets.mspimages.in/logos/mysmartprice...,Apple MacBook Air M1 MGN63...,https://www.mysmartprice.com/computer/apple-ma...,"72,590",Apple

In [18]:
print(dataset['title'][0])
len(dataset['title'][0])

                    Apple MacBook Air M1 MGND3HN/A Ultrabook

76

In [19]:
dataset['title'] =dataset['title'].str.strip()

In [20]:
print(dataset['title'][0])
len(dataset['title'][0])

Apple MacBook Air M1 MGND3HN/A Ultrabook

40

In [21]:
print(dataset['img'][0])
len(dataset['img'][0])

https://assets.mspimages.in/logos/mysmartprice/owl/tr:w-70/lazy.png

67

In [22]:
dataset['img'] =dataset['img'].str.strip()

In [23]:
print(dataset['img'][0])
len(dataset['img'][0])

https://assets.mspimages.in/logos/mysmartprice/owl/tr:w-70/lazy.png

67

In [24]:
print(dataset['best_price'][0])
len(dataset['best_price'][0])

71,990

6

In [25]:
print(dataset['url'][0])
len(dataset['url'][0])

https://www.mysmartprice.com/computer/apple-macbook-air-m1-mgnd3hn-a-laptop-msf583278

85

In [26]:
dataset['url'] =dataset['url'].str.strip()

In [27]:
dataset['Company'].value_counts()

Company
ASUS      1820
Lenovo    1526
HP        1408
Dell       739
Acer       685
          ...
Enter        1
Lava         1
AOXER        1
MarQ         1
PNY          1
Name: count, Length: 108, dtype: int64

In [28]:
dataset['Company'] = dataset['Company'].str.capitalize()
dataset.head()

,img,title,url,best_price,Company
0,https://assets.mspimages.in/logos/mysmartprice...,Apple MacBook Air M1 MGND3HN/A Ultrabook,https://www.mysmartprice.com/computer/apple-ma...,"71,990",Apple
1,https://assets.mspimages.in/logos/mysmartprice...,Apple MacBook Air M1 MGNA3HN/A Ultrabook,https://www.mysmartprice.com/computer/apple-ma...,"99,990",Apple
2,https://assets.mspimages.in/logos/mysmartprice...,Apple MacBook Air MQD32HN/A Ultrabook,https://www.mysmartprice.com/computer/apple-ma...,"67,990",Apple
3,https://assets.mspimages.in/logos/mysmartprice...,Apple MacBook Air M1 MGN93HN/A Ultrabook,https://www.mysmartprice.com/computer/apple-ma...,"80,990",Apple
4,https://assets.mspimages.in/logos/mysmartprice...,Apple MacBook Air M1 MGN63HN/A Ultrabook,https://www.mysmartprice.com/computer/apple-ma...,"72,590",Apple

In [29]:
companies = ['Apple', 'Hp', 'Acer', 'Asus', 'Dell', 'Lenovo', 'Chuwi', 'Msi', 'Microsoft', 'Toshiba', 'Huawei', 'Xiaomi', 'Vero', 'Razer', 'Mediacom', 'Samsung', 'Google', 'Fujitsu', 'Lg']
dataset = dataset[dataset['Company'].isin(companies)]

In [30]:
dataset['Company'].value_counts()

Company
Asus         1820
Lenovo       1526
Hp           1408
Dell          739
Acer          685
Msi           430
Samsung       115
Apple         114
Microsoft      55
Lg             34
Fujitsu        20
Xiaomi         13
Toshiba        11
Razer           6
Huawei          5
Name: count, dtype: int64

In [31]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6981 entries, 0 to 7880
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   img         6981 non-null   object
 1   title       6981 non-null   object
 2   url         6981 non-null   object
 3   best_price  6959 non-null   object
 4   Company     6981 non-null   object
dtypes: object(5)
memory usage: 327.2+ KB

In [32]:
dataset['best_price'] = dataset['best_price'].str.replace(',', '')
dataset['best_price'] = dataset['best_price'].astype(float)

In [33]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6981 entries, 0 to 7880
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   img         6981 non-null   object
 1   title       6981 non-null   object
 2   url         6981 non-null   object
 3   best_price  6959 non-null   float64
 4   Company     6981 non-null   object
dtypes: float64(1), object(4)
memory usage: 327.2+ KB

In [34]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='mean')

# Reshape the pandas Series into a 2D array
X = dataset['best_price'].values.reshape(-1, 1)

# Fit and transform the data
X_imputed = imputer.fit_transform(X)

# Replace the original column with the imputed values
dataset['best_price'] = X_imputed

In [35]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6981 entries, 0 to 7880
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   img         6981 non-null   object
 1   title       6981 non-null   object
 2   url         6981 non-null   object
 3   best_price  6981 non-null   float64
 4   Company     6981 non-null   object
dtypes: float64(1), object(4)
memory usage: 327.2+ KB

In [36]:
dataset.head()

,img,title,url,best_price,Company
0,https://assets.mspimages.in/logos/mysmartprice...,Apple MacBook Air M1 MGND3HN/A Ultrabook,https://www.mysmartprice.com/computer/apple-ma...,71990.0,Apple
1,https://assets.mspimages.in/logos/mysmartprice...,Apple MacBook Air M1 MGNA3HN/A Ultrabook,https://www.mysmartprice.com/computer/apple-ma...,99990.0,Apple
2,https://assets.mspimages.in/logos/mysmartprice...,Apple MacBook Air MQD32HN/A Ultrabook,https://www.mysmartprice.com/computer/apple-ma...,67990.0,Apple
3,https://assets.mspimages.in/logos/mysmartprice...,Apple MacBook Air M1 MGN93HN/A Ultrabook,https://www.mysmartprice.com/computer/apple-ma...,80990.0,Apple
4,https://assets.mspimages.in/logos/mysmartprice...,Apple MacBook Air M1 MGN63HN/A Ultrabook,https://www.mysmartprice.com/computer/apple-ma...,72590.0,Apple

In [37]:
import pickle
pickle.dump(dataset,open('laptopList.pkl','wb'))